<td>
  <%= content_tag(:span, tag.name, class: "label label-primary label-primary-tag", style: "background-color: #{tag.color}")  %>
</td>
<td>
<%= link_to("Edit", edit_tag_path(tag), :class => 'button-xs') %>
</td>
<td>
<%= link_to("Delete", tag_path(tag), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs' ) %>
</td>