<h1>Your tags:</h1>
<br/>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="row">
	<div class="column">
		<table class="table">
		<tbody>
		<tr>
			<td>
				Name
			</td>
			<td colspan=2></td>
		</tr>
		<% @tags.each do |tag| %>
		<tr>
		  <%= render tag %>
		</tr>
		<% end %>
		</tbody>
		</table>

		<%= link_to "Add new tag", new_tag_path, :class => 'button-xs' %><br />
	</div>		
</div>