<h1><%= @tag.name %></h1>

<div class="row">
	<div class="column">

		<table class="table">
		<tbody>
		<tr>
			<td>
				Asset name
			</td>
			<td>
				Tags
			</td>
			<td>
				Description
			</td>
			<td>
				Amount
			</td>
			<td colspan=2></td>
		</tr>
		<% @tag.expenses.each do |expense| %>
		<tr>
		  <%= render expense %>
		</tr>
		<% end %>
		</tbody>
		</table>
	</div>
</div>

