<h1>Your expenses:</h1>
<br/>
<div class="row">
	<div class="column">

		<table class="table">
		<tbody>
		<tr>
			<td>
				Asset name
			</td>
			<td>
				Description
			</td>
			<td>
				Amount
			</td>
			<td colspan=2></td>
		</tr>
		<% @expenses.each do |expense| %>
		<tr>
		  <%= render expense %>
		</tr>
		<% end %>
		</tbody>
		</table>


		<%= link_to "Add new expense", new_expense_path, :class => 'button-xs' %><br />	
	</div>
</div>